In [1]:
import pandas as pd
import numpy as np

In [2]:
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship'
        ,'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Salary']
adult_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/adult.data.txt', names=cols)

In [3]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
Salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
cat_cols_df = adult_data.select_dtypes('object')

In [5]:
for col in cat_cols_df.columns:
    adult_data[col] = adult_data[col].str.strip().replace('?',np.nan)

In [6]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    31978 non-null object
Salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
adult_data.select_dtypes('object').head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,Salary
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [8]:
cat_cols = list(cat_cols_df.columns)

In [9]:
cat_cols.remove('Salary')

In [10]:
num_cols = list(adult_data.select_dtypes('int64').columns)

#### Dealing with neumerical cols

In [11]:
num_cols

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
si = SimpleImputer(strategy='median')

In [15]:
data_num = si.fit_transform(adult_data[num_cols])

In [16]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler

In [17]:
mms = MinMaxScaler()

In [18]:
data_num = mms.fit_transform(data_num)

In [19]:
data_num.shape

(32561, 6)

#### Dealing with cat columns

In [20]:
ss = SimpleImputer(strategy='constant', fill_value='missing')

In [22]:
data_cat = ss.fit_transform(adult_data[cat_cols])

In [23]:
ohe = OneHotEncoder(handle_unknown='ignore')

In [25]:
data_cat = ohe.fit_transform(data_cat)

In [29]:
data_cat.shape

(32561, 102)

In [30]:
data_num.shape

(32561, 6)

In [39]:
feature_data = np.hstack([data_num, data_cat.toarray()])

In [41]:
from sklearn.tree import DecisionTreeClassifier

In [42]:
dt = DecisionTreeClassifier(max_depth=10)

In [46]:
dt.fit(feature_data,adult_data.Salary)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [47]:
dt.score(feature_data, adult_data.Salary)

0.8704278124136237